<!DOCTYPE html>
<html background >
<head>
    <base src='/'>
</head>

<body style="height: 1fr">
    <!-- <div style="margin-left:2%; padding: 10px; height: 100%">
        <h2>This is the main page of the website</h2>
        <mat-tab-group>
            <mat-tab label="One">
                <h1>Some tab content</h1>
                <p>...</p>
            </mat-tab>
            <mat-tab label="Two">
                <h1>Some more tab content</h1>
                <p>...</p>
                <div innerHTML="{{myjsonData}}"></div>
            </mat-tab>
        </mat-tab-group>
    </div> -->
    <router-outlet></router-outlet>
    <div>
        <!-- <app-footer></app-footer> -->
    </div>
</body>
</html>


